.page-header {
    display: flex;
    justify-content: space-between;
}

.panel-header {
    display: flex;
    justify-content: space-between;
}

.panel-body {
    background-color: lightgray;
}

.align-center h4 {
    text-align: center;
}
